* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.all-container {
    /* background-image: url(./imgs/Sunny-Day-HD-Background-Wallpaper-25962.jpg); */
    width: 100%;
    height: 100dvh;

}

.weather-text {
    color: white;
    position: relative;
    margin-top: 20px;
    left: 10%;
}

.weat-text {
    position: relative;
    top: 50%;
    padding-left: 100px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom-text {
    display: flex;
    align-items: last baseline;
    gap: 20px;
}

.weather-location {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 700;
}


.svg-container:hover svg path {
    transform: rotate(-45deg);
    transform-origin: center center;
    transition: transform 0.5s ease-in-out;
}

.svg-mini-container svg {
    width: 14px;
    height: 14px;
}

.svg-mini-container svg path {
    stroke: black;
    fill: white;
}


.loc-details {
    display: flex;
    gap: 5px;
}

.card-toptext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
}

.card-inside {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.blur-card {
    position: relative;
    left: 50%;
    top: -20%;
    width: 430px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
}

.blur-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #ff00ee, #00d2ff);
    filter: blur(20px);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.blur-card:hover::before {
    opacity: 1;
}

.blur-card-bottom {
    position: relative;
    left: 50%;
    top: -15%;
    width: 430px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.blur-card-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #ff00ee, #00d2ff);
    filter: blur(20px);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.blur-card-bottom:hover::before {
    opacity: 1;
}

.about-weather:hover {
    text-shadow:
        0 0 10px #fff,
        0 0 20px #ff00ee,
        0 0 40px #ff00ee,
        0 0 60px #00d2ff,
        0 0 80px #00d2ff;
    transform: scale(1.05);
}

.Forecast-cart {
    display: flex;
    align-items: center;
    gap: 20px;
    /* margin-top: 10px; */
}

.mr-hr {
    margin: 0px;
    color: white;
    height: 2px;
    opacity: 2;
    display: flex;
    margin-left: 20px;
}

.mr-hra {
    margin: 2px;
    color: white;
    height: 2px;
    opacity: 2;
}

.progress-container {
    width: 100px;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    transition: width 0.3s ease-in-out;
}

.blue {
    background-color: #007bff;
}

.blur-card {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.50s ease-out, transform 0.5s ease-out;

}

.blur-card.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.blur-card-bottom {
    margin-top: 10px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.50s ease-out, transform 0.5s ease-out;

}

.blur-card-bottom.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.about-weather {
    position: absolute;
    top: 25%;
    margin-left: 80px;
    font-size: 22px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    transition: all 0.5s ease;
}

.weat-text {
    position: absolute;
}

.search-bar {
    margin-left: 80px;
}


.dropdown {
    position: relative;
    display: inline-block;
    top: 10%;
}

.dropdown-content {
    display: none;
    top: 20%;
    margin-top: 22px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.show {
    position: absolute;
    display: block;
}

.search-bar::placeholder {
    padding-left: 20px;
    padding-right: 20px;
    /* padding-top: 10px; */
}

#myDropdown span {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 1px solid gray;
}

#myDropdown span:hover {
    background-color: #007bff;
    cursor: pointer;
}


input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input:hover {
    cursor: pointer;
}


.Accurate-text {
    display: flex;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.transition-heading {
    color: #333;
    /* Initial color of the text */
    cursor: pointer;
    /* Changes the cursor to a hand icon on hover */
    /* Key line: specifies which property to transition, duration, and easing function */
    transition: color 0.5s ease-in-out;
    font-size: 18px;
}


.heading-app-name {
    margin-top: 10px;
    margin-left: 40px;
}

body {
    background-color: #007BFF !important;
}